<section id="about" class="about mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Vidéo en arrière-plan -->
          <video autoplay muted loop class="video-bg">
            <!-- Assure-toi de remplacer "chemin/vers/ta/video.mp4" par le chemin de ta vidéo -->
            <source src="https://videos.pexels.com/video-files/3840442/3840442-uhd_3840_2160_30fps.mp4" type="video/mp4">
            <!-- Si tu as d'autres formats vidéo, tu peux les ajouter ici avec des balises <source> supplémentaires -->
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>About Us</h3>
          <p>
            Welcome to our website dedicated to the various decision-makers of the petroleum companies. We provide customized dashboards for stock managers, order managers, transport managers, and the overall manager. These tools will allow you to visualize and analyze key data for optimal management of your activities.
          </p>
          <div class="row icon-boxes">
            <div class="col-md-6">
              <i class="bx bx-receipt"></i>
              <h4>Supervisors</h4>
              <p>Whether you are in charge of stock to ensure adequate product levels, tracking orders for efficient processing, or logistics for smooth distribution, our dashboards offer you a comprehensive and detailed view of your operations.</p>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <img src="assets/img/Picture3.png" alt="Description de l'image" style="width:30%; max-width:50px;"> <!-- Ajoutez votre image ici -->
              <h4>SDGs</h4>
              <p>By working on SDGs 7, 8, 12, and 13, we are committed to providing you with the best tools to optimize your operations and maximize your results.</p>
            </div>
            <ul>
              <li><i class="bx bx-check-double"></i> Feel free to explore our different dashboards and contact us  for any questions</li>
              <li><i class="bx bx-check-double"></i> or assistance. Your satisfaction and success  are our priority.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="stats" class="stats section">
    <div class="stats-bg"></div> <!-- Ajout de div pour l'image de fond -->
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
 
            <div class="col-lg-3 col-md-6">
                <div class="card text-center custom-bg">
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                        <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="2" class="purecounter">232</span>
                    </div>
                </div>
            </div><!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="card text-center custom-bg">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="2" class="purecounter">9</span>
                    </div>
                </div>
            </div><!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="card text-center custom-bg">
                    <div class="card-body">
                        <h5 class="card-title">Orders</h5>
                        <span data-purecounter-start="0" data-purecounter-end="13152" data-purecounter-duration="2" class="purecounter">1,453</span>
                    </div>
                </div>
            </div><!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="card text-center custom-bg">
                    <div class="card-body">
                        <h5 class="card-title">Suppliers</h5>
                        <span data-purecounter-start="0" data-purecounter-end="19" data-purecounter-duration="2" class="purecounter">32</span>
                    </div>
                </div>
            </div><!-- End Stats Item -->
        </div>
    </div>
</section>